	
.style-foot {
	background-color: #757575;
	opacity: 0.6;
}

.support-content-wrapper{
    display: flex;
	align-items: center;
	padding: 2rem;

	img{
		max-width: 200px;
	}

	.support-content{
		font-size: 1.05rem;
		line-height: 1.7rem;
		margin-left: 2rem;
		margin-right: 2rem;
	}
}

@media screen and (max-width: 768px) {
	.support-content-wrapper{
		display: block;
	}

	img{
		margin: 0 2rem 2rem;
	}
}


